In [3]:
a = 1
while a <= 10:
    print(a)
    a = a+1

1
2
3
4
5
6
7
8
9
10

In [4]:
print(10,11)

10 11

In [5]:
print(10)
print(11)

10
11

In [6]:
s1 = {1,2,3,4}
s2 = {3,4,5,6}

In [7]:
s1.union(s2)

{1, 2, 3, 4, 5, 6}

In [8]:
s1 | s2

{1, 2, 3, 4, 5, 6}

In [9]:
import operator
from functools import reduce

In [10]:
l1 = [1,2,3,4,5]

In [11]:
reduce(operator.add, l1)

15

In [12]:
reduce(operator.sub, l1)

-13

In [13]:
reduce(operator.mul, l1)

120

In [14]:
s1 = {"Intellipaat", "Python", "class"}
s2 = {12,43,5,6}

In [16]:
import itertools

In [17]:
operator.or_(s1, s2)

{12, 43, 5, 6, 'Intellipaat', 'Python', 'class'}

In [18]:
operator.and_(s1, s2)

set()

In [19]:
s3 = {12,34,56,76}

In [21]:
set(itertools.chain(s1, s2, s3))

{12, 34, 43, 5, 56, 6, 76, 'Intellipaat', 'Python', 'class'}

In [29]:
s1.union(s2).union(s3)

{12, 34, 43, 5, 56, 6, 76, 'Intellipaat', 'Python', 'class'}

In [28]:
list(itertools.chain(s1, s2, s3))

['class', 'Python', 'Intellipaat', 43, 12, 5, 6, 56, 34, 12, 76]

In [22]:
for i in itertools.chain(s1,s2):
    print(i)

class
Python
Intellipaat
43
12
5
6

In [23]:
l1

[1, 2, 3, 4, 5]

In [26]:
l2 = [3,4,5,6,7]

In [27]:
for i in itertools.chain(l1,l2):
    print(i)

1
2
3
4
5
3
4
5
6
7

In [30]:
(*l1, *l2)

(1, 2, 3, 4, 5, 3, 4, 5, 6, 7)

In [31]:
[*l1, *l2]

[1, 2, 3, 4, 5, 3, 4, 5, 6, 7]

In [32]:
{*l1, *l2}

{1, 2, 3, 4, 5, 6, 7}

In [33]:
s1

{'Intellipaat', 'Python', 'class'}

In [34]:
s2

{5, 6, 12, 43}

In [35]:
s1.update(s2)

In [36]:
s1

{12, 43, 5, 6, 'Intellipaat', 'Python', 'class'}

In [37]:
s1 ={1,2,3,4,5}
s2 ={1,2,6}

In [38]:
s1.update(s2)

In [39]:
s1

{1, 2, 3, 4, 5, 6}

In [40]:
s2

{1, 2, 6}

In [55]:
rows = 5

for i in range(rows):
    for j in range(i+1):
        print("*", end=" ")
    print("\n")

*

* *

* * *

* * * *

* * * * *

In [56]:
print(1)

1

In [57]:
def welcome():
    print("Welcome to the class!")

In [58]:
welcome()

Welcome to the class!

In [59]:
name = "Ernest"
f"Welcome to the class {name}"

'Welcome to the class Ernest'

In [60]:
name = "Ernest"
f"Welcome to the class name"

'Welcome to the class name'

In [61]:
name = "Ernest"
"Welcome to the class {Ernest}"

'Welcome to the class {Ernest}'

In [67]:
def welcome(name):
    print(f"Welcome to the class {name}!")

In [68]:
welcome("Ernest")

Welcome to the class Ernest!

In [69]:
welcome("Vinay")

Welcome to the class Vinay!

In [80]:
def sq(n):
    return n*n

In [81]:
sq(2)

4

In [82]:
sq(100)

10000

In [83]:
sq(n=10)

100

In [84]:
sq()

TypeError: sq() missing 1 required positional argument: 'n'

In [74]:
def welcome(name=None):
    if name is None:
        print("Welcome to the class!")
    else:
        print(f"Welcome to the class {name}!")

In [75]:
welcome()

Welcome to the class!

In [76]:
welcome("Suraj")

Welcome to the class Suraj!

In [88]:
def sq(n=0):
    return n*n

In [89]:
sq(3)

9

In [90]:
sq()

0

In [91]:
def gn(a,b,c):
    if (a>b) & (a>c):
        return a
    elif b>c:
        return b
    else:
        return c

In [94]:
gn(41,23,72)

72

In [95]:
gn(a=41,b=23,c=72)

72

In [96]:
gn(b=23, a=41, c=72)

72

In [108]:
def gn(*args):
    result = args[0]
    for i in args:
        if i > result:
            result = i
    return result

In [109]:
gn(1,2,3,2,2,4,23,2)

23

In [110]:
gn(2,98)

98

In [120]:
def gn(*args, **kwargs):
    print(args)
    print(kwargs)

In [121]:
gn(1,2,3,4,a=1,b=34)

(1, 2, 3, 4)
{'a': 1, 'b': 34}

In [122]:
k = {'a': 1, 'b': 34}

In [124]:
k['a']

1

In [123]:
for i in k:
    print(i)

a
b

In [125]:
for i in k:
    print(k[i])

1
34

In [133]:
def gn(*args, **kwargs):
    result = args[0]
    for i in args:
        if i > result:
            result = i
    for i in kwargs:
        if kwargs[i] > result:
            result = kwargs[i]
    return result

In [134]:
gn(1,2,3,4,a=1,b=34)

34

In [126]:
a = (1,2,3,4)

In [128]:
for i in a:
    print(i)

1
2
3
4

In [135]:
def gn(*args, **kwargs):
    result = None
    for i in args:
        if result is None:
            result = i
        elif i > result:
            result = i
    for i in kwargs:
        if kwargs[i] > result:
            result = kwargs[i]
    return result

In [136]:
gn(1,2,3,4,a=1,b=34)

34

In [137]:
def add_():
    x = input()
    y = input()
    print(x,y)
    print(type(x), type(y))

In [138]:
add_()

1
2
1 2
<class 'str'> <class 'str'>

In [139]:
def add_():
    x = float(input())
    y = float(input())
    print(x,y)
    print(type(x), type(y))

In [140]:
add_()

1
2
1.0 2.0
<class 'float'> <class 'float'>

In [141]:
def add_():
    x = float(input("Enter the value of x: "))
    y = float(input("Enter the value of y: "))
    return x+y

In [142]:
add_()

Enter the value of x: 1
Enter the value of y: 2

3.0

In [143]:
def add_():
    result = 0
    while True:
        num = input("Enter number or 'x' to exit: ")
        if num == 'x':
            break
        else:
            result = result + float(num)
    return result

In [144]:
add_()

Enter number or 'x' to exit: 1
Enter number or 'x' to exit: 2
Enter number or 'x' to exit: 3
Enter number or 'x' to exit: 4
Enter number or 'x' to exit: 5
Enter number or 'x' to exit: x

15.0

In [145]:
import math

In [146]:
math.pow(2, 3)

8.0

In [147]:
l1 = [1,2,3,4,5]

In [148]:
l2 = []
for i in l1:
    l2.append(i**2)

In [149]:
l2

[1, 4, 9, 16, 25]

In [150]:
[i**2 for i in l1]

[1, 4, 9, 16, 25]

In [151]:
l1 = [1,2,3,4,5]

In [ ]:
[1, 9, 25]

In [152]:
l2 = []
for i in l1:
    if i%2 != 0:
        l2.append(i**2)

In [153]:
l2

[1, 9, 25]

In [154]:
[i**2 for i in l1 if i%2 != 0]

[1, 9, 25]

In [155]:
l1 = [1,2,3,4,5]

In [ ]:
[1,2,9,4,25]

In [156]:
l2 = []
for i in l1:
    if i%2 != 0:
        l2.append(i**2)
    else:
        l2.append(i)

In [157]:
l2

[1, 2, 9, 4, 25]

In [159]:
[i**2 if i %2 != 0 else i for i in l1]

[1, 2, 9, 4, 25]

In [160]:
names = ["Kumar", "Priya", "Suman"]
marks = [99, 98, 85]

In [163]:
for i in zip(names, marks):
    print(i)

('Kumar', 99)
('Priya', 98)
('Suman', 85)

In [164]:
for i, j in zip(names, marks):
    print(i, j)

Kumar 99
Priya 98
Suman 85

In [165]:
my_dict = dict()
for i, j in zip(names, marks):
    my_dict[i] = j

In [166]:
my_dict

{'Kumar': 99, 'Priya': 98, 'Suman': 85}

In [167]:
{i:j for i, j in zip(names, marks)}

{'Kumar': 99, 'Priya': 98, 'Suman': 85}

In [168]:
dict1 = dict()

In [169]:
dict1

{}

In [170]:
dict1["a"] = 11

In [171]:
dict1

{'a': 11}

In [172]:
dict1["a"]

11

In [173]:
dict1 = {"a": 11, "b": 12}

In [174]:
dict1

{'a': 11, 'b': 12}

In [175]:
dict1["c"] = 13

In [176]:
dict1

{'a': 11, 'b': 12, 'c': 13}

In [177]:
import pandas as pd

In [178]:
titanic = pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")

In [179]:
titanic

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [180]:
titanic["Sex"]

0        male
1      female
2      female
3      female
4        male
        ...
886      male
887    female
888    female
889      male
890      male
Name: Sex, Length: 891, dtype: object

In [181]:
def gender(s):
    if s == "male":
        return 0
    else:
        return 1

In [182]:
titanic["Sex"].apply(gender)

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    1
889    0
890    0
Name: Sex, Length: 891, dtype: int64

In [183]:
titanic["Sex"].apply(lambda s: 0 if s == "male" else 1)

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    1
889    0
890    0
Name: Sex, Length: 891, dtype: int64

In [188]:
l1

[1, 2, 3, 4, 5]

In [189]:
s1

{1, 2, 3, 4, 5, 6}

In [190]:
class Employee:
    
    def __init__(self):
        pass
    
    def add_details(self, ID, Name):
        self.ID = ID
        self.Name = Name

In [191]:
emp1 = Employee()

In [192]:
emp1.add_details(1001, "Kumar")

In [193]:
emp1.ID

1001

In [194]:
emp1.Name

'Kumar'

In [195]:
emp2 = Employee()

In [196]:
emp2.add_details(1002, "Priya")

In [197]:
emp2.ID

1002

In [198]:
emp2.Name

'Priya'

In [199]:
class Employee:
    
    def __init__(self, ID, Name):
        self.ID = ID
        self.Name = Name
    
    def add_salary(self, sal):
        self.salary = sal
    
    def increment(self, inc):
        self.salary = self.salary + self.salary * inc / 100

In [200]:
emp1 = Employee()

TypeError: __init__() missing 2 required positional arguments: 'ID' and 'Name'

In [201]:
emp1 = Employee(1001, "Kumar")

In [202]:
emp1.ID

1001

In [203]:
emp1.Name

'Kumar'

In [204]:
emp1.add_salary(55000)

In [205]:
emp1.salary

55000

In [206]:
emp2 = Employee(1002, "Priya")

In [207]:
emp2.add_salary(60000)

In [208]:
emp2.increment(10)

In [209]:
emp2.salary

66000.0

In [210]:
emp1.ID = 1003

In [212]:
emp1.ID

1003